
.navbar
{
    margin:20px;
}
.nav-item
{
   
    margin: 0px 20px;
   
}
.navbar-brand
{
    font-size: 30px;
    font-weight: bold;
}
#head
{
    animation-name: ex;
    animation-duration: 15s;
    animation-iteration-count:infinite;
    animation-play-state: running;
    animation-fill-mode: backwards;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 175px;
}
@keyframes ex {
    0%
    {
        background-image: url(2.jpg);
    }
    25%
    { background-image: url(https://images.unsplash.com/photo-1483982258113-b72862e6cff6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    }
    50%
    {
       background-image:url( https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80);
    }
    75%
    {
        background-image:url( https://images.unsplash.com/photo-1493584753368-64a38a466b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    }
    100%
    {
        background-image:url(https://images.unsplash.com/photo-1476842634003-7dcca8f832de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    }
    
}
.name
{color: rgb(255, 255, 255);
    
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;

}


.intro
{margin-bottom: 15px;
    color: white;
}
#head h4{
 
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    font-size: 20px;
}
#best-photo
{
    padding: 30px;
}
#best-photo h3{font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin: 30px;

}
.carousel-item
{
    padding: 50px 200px;
 
}
.i
{
 
    height: 550px;
    width: 5%;
    border-radius: 25px;
}


@media(max-width:992px)
{
.i    
{
 
    height: 400px;
    border-radius: 25px;
}
.carousel-item
{
    padding: 60px;
}
body
{
    text-align: center;
}
.name,.intro
{
    margin-top: 10px;
}
#head
{
    padding-top: 30px;
}
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 10%;
    border: 2px solid black;
    margin: 10px;
}
#pricing
{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-atmospheric-black-texture-background-image_262264.jpg);

    padding:50px;
    text-align: center;
}
.ph
{font-size: 50px;
    color: white;
    font-family: 'Bebas Neue', cursive;
}
.pp
{font-size: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}
.card
{
    margin: 20px auto;
}
.card-body
{
    height: 30px;
}
.btn {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #6c6f70);
    background-image: -moz-linear-gradient(top, #000000, #6c6f70);
    background-image: -ms-linear-gradient(top, #000000, #6c6f70);
    background-image: -o-linear-gradient(top, #000000, #6c6f70);
    background-image: linear-gradient(to bottom, #000000, #6c6f70);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 29px;
    padding: 10px 20px 10px 20px;
    
    margin: 20px ;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #211b21;
    background-image: -webkit-linear-gradient(top, #211b21, #646566);
    background-image: -moz-linear-gradient(top, #211b21, #646566);
    background-image: -ms-linear-gradient(top, #211b21, #646566);
    background-image: -o-linear-gradient(top, #211b21, #646566);
    background-image: linear-gradient(to bottom, #211b21, #646566);
    text-decoration: none;
  }
  #contact
  {
      margin: 30px auto;
      padding:100px;
  }
  #tw
  {
      font-size: 30px;
      font-family: 'IBM Plex Sans', sans-serif;
  }
  
@media(max-width:1260px)
{
    .name,.intro
    {
        margin-top: 10px;
    }
    #head
    {
        padding-top: 30px;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
    
        
        margin: 30px;
    }
}
#footer
{background-color: rgb(26, 26, 26);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:  40px;
    color: rgb(255, 255, 255);
}
@media(max-width:553px)
{
    .name,.intro
    {
        margin-top: 10px;
    }
    #head
    {
        padding-top: 30px;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
    
        
        margin: 10px;
    }
    .btn{margin: 30px auto;
     
    }
    .name{
        font-size: 70px;
    }
    .intro
    {
        font-size: 20px;
    }
}
@media(max-width: 610px)
{
    .name,.intro
    {
        margin-top: 10px;
    }
    #head
    {
        padding-top: 30px;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
    
        
        margin: 10px;
    }
    .btn{margin: 30px auto;
     
    }
    .name{
        font-size: 70px;
    }
    .intro
    {
        font-size: 20px;
    }
}
@media(max-width: 518px)
{
    .name,.intro,h4
    {
        text-align: left;
        margin-top: 10px;
    }
    #head
    {
        padding: 10px;
        padding-top: 60px;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
    
        
        margin: 10px;
    }
    .i    
{
 
    height: 200px;
    border-radius: 25px;
}
    .btn{margin: 30px auto;
     
    }
    .name{
        font-size: 70px;
    }
    .intro
    {
        font-size: 20px;
    }
}
